
#projectCard{
    margin-top: 10rem;
    max-width: fit-content;
    margin-inline:auto;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: rgb(193, 202, 224);
} 

.projCompHead{
    margin-left: 1rem;
    color: rgb(189, 154, 247);
    margin-bottom: 2rem;
    width:64px;
    font-weight: 500;
}



