.sidebar_prop{
    position:fixed;
    margin-top: 20px; 
    height: 100vh;
    width: 400px;
    /* border-right: 1px solid  rgb(78, 78, 78); */
    display: grid;
    justify-content: space-around;
    z-index: 1000;
}


#list_items{
    padding-left:4px;
    width: 100%;
    margin: 8px 0 8px 8px;
    line-height: 2rem;
    cursor: pointer;
    color: rgb(170, 166, 166);

}

#list_items:hover{
    color: #fff;
    background-color: #5c5c5c;
    border-radius: 5px;
}
.submenu{
    display: none;
   
   
}

.submenu.visible{
    display: block;
}

.submenuSkill{
    display: none;
}

.submenuSkil.visible{
    display: none;
}


@media only screen and (min-device-width: 768px) and  (max-device-width:1024px){
    .sidebar_prop{
        display:none;
    }
}


@media (max-width : 767px) {
    .sidebar_prop{
        display: none;
    }
}