#skill_Div{ 
    min-height: 600px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: rgb(193, 202, 224);
    margin-top: 7rem;
    max-width: fit-content;
    margin-inline: auto;
}
#iconImage{
    position: relative;
    left: 14rem;
    top: 5rem;
}

#line{

    top:45px;
    left: 60px;
    position: relative;
    background: rgb(78,78,78);
    height: 138px;
    width: 1px; 
    margin-bottom: 5px;
}

.frontendSkillDiv{
    min-height: 400px;
}

.backendSkillDiv{
  margin-top: 10rem; 
  min-height: 400px;
}  




.skillCompHead{
    width: 64px;
    font-weight: 500;
    color: rgb(187, 154, 247);
}



